---
import LinkButton from '../../components/ui/LinkButton.astro';
---
<div class="bg-white">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Latest release <span class=" px-4 py-1 rounded-full bg-gray-200 fw-bold ms-2">v0.1</span>
          </div>
        </div>
        <div class="text-center">
          <h1>Start where your design lives: Within the code</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">AstroStorm is a modern web application starterkit built with Astro and Tailwind CSS. It provides a solid foundation for building fast, efficient, and responsive websites with a <span class="bg-yellow-100">"design-in-code"</span> approach.</p>
          <div class="mt-10 flex w-auto items-center justify-center gap-x-4">
            <LinkButton href="#" variant="primary">Download now</LinkButton>
            <a href="#">Github <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  