---
import LinkButton from '../../components/ui/LinkButton.astro';
---
<div class="relative w-screen h-screen overflow-hidden bg-white">
    <div class="absolute md:bottom-0 left-0 p-8 md:p-16 lg:p-24 max-w-screen-md mb-16 lg:mb-32">
          <div class="text-start">
            <h1>Start where your design lives: Within the code</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">AstroStorm is a modern web application starterkit built with Astro and Tailwind CSS. It provides a solid foundation for building fast, efficient, and responsive websites with a <span class="bg-yellow-100">"design-in-code"</span> approach.</p>
            <div class="mt-6 flex w-auto items-center justify-start gap-x-4">
              <LinkButton href="#" variant="primary">Download now</LinkButton>
              <a href="#">Github <span aria-hidden="true">→</span></a>
            </div>
          </div>
    </div>
  </div>