<section class="relative isolate overflow-hidden bg-primary px-6 py-24 sm:py-32 lg:px-8 border-t text-white">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.gray.800),white)] opacity-20"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-45deg] bg-black shadow-xl shadow-gray-400/100 ring-1 ring-gray-400 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-gray-500">Transactions every 24 hours</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-50 sm:text-5xl">44 million</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-gray-500">Assets under holding</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-50 sm:text-5xl">$119 trillion</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-gray-500">New users annually</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-50 sm:text-5xl">46,000</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
  </section>