---
import Layout from '../layouts/EmptyPage.astro';
import CenteredTwoByTwoFeatured from '../components/sections/CenteredTwoByTwoFeature.astro';
import HeroSimpleCentered from '../components/sections/HeroSimpleCentered.astro';
import HeroFullBottomLeft from '../components/sections/HeroFullBottomLeft.astro';
import SimpleStats from '../components/sections/SimpleStats.astro';
import TestimonialSimpleCentered from '../components/sections/TestimonialSimpleCentered.astro';
import PricingSinglePrice from '../components/sections/PricingSinglePrice.astro';
import LogoCloudSimple from '../components/sections/LogoCloudSimple.astro';
---
<Layout>
	<!-- <HeroFullBottomLeft></HeroFullBottomLeft>-->
	<HeroSimpleCentered />
	<SimpleStats />
	<CenteredTwoByTwoFeatured />
	<TestimonialSimpleCentered />
	<PricingSinglePrice />
	<div class="border-t">
		<LogoCloudSimple />
	</div>

</Layout>