---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components'
---

<header class="backdrop-blur-lg bg-white/75 fixed w-screen z-10">
	<div class="container">
	<nav class="mx-auto flex items-center justify-between py-6" aria-label="Global">
	  <div class="flex flex-auto lg:flex-1 items-center">
		<a href="/" class="no-underline flex">
			<Icon name="rocket"
			width="28px";
			height="28px";
			/>
			{SITE_TITLE}
		</a>
	  </div>
	  <div class="lg:flex lg:gap-x-12">
		<HeaderLink href="/" class="text-sm font-semibold leading-6 text-gray-900 no-underline">Home</HeaderLink>
		<HeaderLink href="/blog" class="text-sm font-semibold leading-6 text-gray-900 no-underline">Blog</HeaderLink>
		<HeaderLink href="/about" class="text-sm font-semibold leading-6 text-gray-900 no-underline">About</HeaderLink>
	  </div>
	  <div class="lg:flex lg:flex-1 lg:justify-end">
		<a href="#" class="text-sm font-semibold leading-6 text-gray-900 no-underline">GitHub <span aria-hidden="true">&rarr;</span></a>
	  </div>
	</nav>
	</header>
  </header>
